on early-init
    export ANDROID_BOOTLOGO 1
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export ANDROID_STORAGE /storage
    export EXTERNAL_STORAGE /sdcard

    # OnePlus / OPlus custom dynamic partition mount mappings
    export MY_CARRIER_ROOT /my_carrier
    export MY_REGION_ROOT /my_region
    export MY_COMPANY_ROOT /my_company
    export MY_ENGINEERING_ROOT /my_engineering
    export MY_PRODUCT_ROOT /my_product
    export MY_ODM_ROOT /odm
    export MY_HEYTAP_ROOT /my_heytap
    export MY_STOCK_ROOT /my_stock
